.form {
  display: flex;
  flex-direction: column;
  z-index: 0;

  &__label {
    position: relative;

    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  &__label-descr {
    position: absolute;
    top: 4px;
    left: 16px;
    color: var(--accent);
    font-size: 12px;
  }

  &__input {
    padding: 13px 16px;
    border-radius: 4px;
    height: 48px;
    width: 100%;
    outline: transparent;
    border: 1px solid transparent;
    transition: border-color 0.3s;

    &:focus {
      border-color: var(--accent);
    }

    &--padding {
      padding: 20px 16px 4px 16px;
    }
  }

  &__approval {
    display: flex;
    margin-bottom: 32px;
  }

  &__text {
    color: var(--white);
    line-height: 1.4;
    margin-left: 8px;
  }

  &__text-link {
    text-decoration: underline;
  }

  &__button {
    width: fit-content;
  }

  .just-validate-error-label {
    margin-top: 3px;
    font-size: 14px;
    color: var(--accent) !important;
  }
}
