.hamburger-lines {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  width: 24px;
  height: 24px;

  &--active {
    .line1 {
      transform: rotate(45deg);
    }

    .line2 {
      transform: rotate(-45deg);
    }
  }

  &__line {
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--gray);
    border-radius: 2px;

    &:not(:last-child) {
      margin-bottom: 4px;
    }
  }

  .line1 {
    transform-origin: 35% 100%;
    transition: all 0.2s ease-in-out;
  }

  .line2 {
    transform-origin: 35% -50%;
    transition: all 0.2s ease-in-out;
  }
}
