.horizontal-tabs {
  &__nav {
    display: inline-flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
    width: 100%;

    @media screen and (width <= 768px) {
      display: flex;
      justify-content: space-between;
    }

    &::-webkit-scrollbar {
      display: none; /*Safari and Chrome*/
    }
  }

  &__head {
    margin-bottom: 40px;
    padding-bottom: 13px;
    position: relative;

    @media screen and (width <= 768px) {
      margin-bottom: 24px;
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      z-index: -1;
      background-color: #eff3f8;
    }
  }

  &__nav-item {
    flex: 1 1 50%;
    display: flex;
    justify-content: center;

    @media screen and (width <= 768px) {
      flex: 0 0 auto;
    }

    &:not(:last-child) {
      margin-right: 24px;
    }

    &--active {
      position: relative;

      .horizontal-tabs__nav-btn {
        color: var(--accent);
        opacity: 1;

        svg {
          path {
            fill: var(--accent);
          }
        }
      }
    }
  }

  &__nav-btn {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.3;
    transition: color ease 0.3s;
    display: flex;
    align-items: center;

    svg {
      margin: 0 4px 3px 0;

      path {
        transition: all 0.3s;
      }
    }
  }

  &__underline {
    display: block;
    background: var(--accent);
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 100%;
    z-index: 0;
    transition:
      left 0.3s ease,
      width 0.3s ease;
  }

  &__item {
    @media screen and (width <= 768px) {
      font-size: 16px;
    }

    span {
      display: flex;
      align-items: center;

      svg {
        flex-shrink: 0;

        @media screen and (width <= 768px) {
          align-self: flex-start;
        }
      }
    }

    svg {
      margin-right: 8px;
    }

    &:not(:last-child) {
      margin-bottom: 16px;
    }

    &:first-child {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__panel {
    display: none;

    &--active {
      display: block;
    }
  }

  &__panel-swiper {
    z-index: 0;
  }
}
