<section class="advantages">
  <div class="container">
    <h2 class="advantages__title section-title"><span
        class="gradient-text gradient-text--first-blue">Преимущества</span> платформы Атом.РИТА</h2>

    <p class="advantages__text">Атом.РИТА - это Low-code платформа роботизации бизнес-процессов (RPA), которая не
      требует внесения изменений в
      информационные системы, а также позволяет создавать программных роботов - ваших виртуальный ассистентов. Их
      особенность в том, что они как настоящий человек взаимодействует с информационными системами и приложениями на
      своем рабочем месте.</p>

    <ul class="advantages__list">
      <li class="advantages__item">
        <h4 class="advantages__item-title">Богатый опыт
          в RPA</h4>
        <ul class="advantages__item-list">
          <li class="advantages__item-list-text">Делаем программных роботов с 2017 г.</li>
          <li class="advantages__item-list-text">Реализовано 400+ роботов</li>
          <li class="advantages__item-list-text">Полный цикл работ своими силами</li>
        </ul>
      </li>

      <li class="advantages__item">
        <h4 class="advantages__item-title">Импортонезависимое
          решение</h4>
        <ul class="advantages__item-list">
          <li class="advantages__item-list-text">Собственная разработка</li>
          <li class="advantages__item-list-text">Отечественная операционная система</li>
          <li class="advantages__item-list-text">Платформа включена в реестр российского ПО</li>
        </ul>
      </li>

      <li class="advantages__item">
        <h4 class="advantages__item-title">Уникальная команда</h4>
        <ul class="advantages__item-list">
          <li class="advantages__item-list-text">80+ опытных экспертов по разработке программных роботов</li>
          <li class="advantages__item-list-text">Выделенная команда технической поддержки</li>
          <li class="advantages__item-list-text">Свои методологи и консультанты</li>
        </ul>
      </li>

      <li class="advantages__item">
        <h4 class="advantages__item-title">Экономически выгодно</h4>
        <ul class="advantages__item-list">
          <li class="advantages__item-list-text">Быстрая окупаемость (от нескольких месяцев)</li>
          <li class="advantages__item-list-text">Совокупная стоимость владения на ниже других решений</li>
          <li class="advantages__item-list-text">До 100% исключение ручного труда</li>
        </ul>
      </li>
    </ul>

    <ul class="advantages__list-qty">
      <li class="advantages__list-qty-item">
        <span class="advantages__list-qty-num">400+</span>
        <p class="advantages__list-qty-text">создано роботов Атом.РИТА</p>
      </li>

      <li class="advantages__list-qty-item">
        <span class="advantages__list-qty-num">10млн+</span>
        <p class="advantages__list-qty-text">осуществляется операций в год</p>
      </li>

      <li class="advantages__list-qty-item">
        <span class="advantages__list-qty-num">200+ FTE</span>
        <p class="advantages__list-qty-text">высвобождено человеческих ресурсов</p>
        <span class="advantages__list-qty-footnote">*FTE — эквивалент полной занятости</span>
      </li>
    </ul>
  </div>
</section>