<footer class="footer">
  <div class="container">
    <div class="footer__top">
      <a class="footer__logo" href="#">
        <img class="footer__logo-img" src="img/logo-white.svg" alt="Логотип">
      </a>

      <div class="footer__slogan">Цифра в <span class="gradient-text ">Росатоме</span></div>
    </div>

    <div class="footer__middle">
      <ul class="footer__middle-list">
        <li class="footer__middle-item">
          <h3 class="footer__block-title">Компания</h3>

          <ul class="footer__block-list">
            <li class="footer__block-item"><a class="footer__block-link" href="#">Календарь</a></li>
            <li class="footer__block-item"><a class="footer__block-link" href="#">Новости</a></li>
            <li class="footer__block-item"><a class="footer__block-link" href="#">Карьера</a></li>
            <li class="footer__block-item"><a class="footer__block-link" href="#">О нас</a></li>

            <ul class="footer__block-bot">
              <li class="footer__block-bot-item"><a class="footer__block-bot-link" href="#">Антикоррупционная
                  политика</a></li>
              <li class="footer__block-bot-item"><a class="footer__block-bot-link" href="#">Сообщить о фактах
                  коррупции</a></li>
            </ul>
          </ul>
        </li>

        <li class="footer__middle-item">
          <h3 class="footer__block-title">Продукты</h3>

          <ul class="footer__block-list footer__block-list--col2">
            <li class="footer__block-item"><a class="footer__block-link footer__block-link--uppercase"
                href="#">ЛОГОС</a>
            </li>
            <li class="footer__block-item"><a class="footer__block-link footer__block-link--uppercase" href="#">АТОМ
                МАЙНД</a>
            </li>
            <li class="footer__block-item"><a class="footer__block-link footer__block-link--uppercase"
                href="#">САРУС</a>
            </li>
            <li class="footer__block-item"><a class="footer__block-link footer__block-link--uppercase"
                href="#">АТОМ.РИТА</a>
            </li>
            <li class="footer__block-item"><a class="footer__block-link footer__block-link--uppercase"
                href="#">ПРИЗМА</a>
            </li>
            <li class="footer__block-item"><a class="footer__block-link footer__block-link--uppercase"
                href="#">АТОМБОТ</a>
            </li>
            <li class="footer__block-item"><a class="footer__block-link footer__block-link--uppercase"
                href="#">CLOUDATE</a>
            </li>
            <li class="footer__block-item"><a class="footer__block-link footer__block-link--uppercase"
                href="#">ДЕДАЛ-СКАУТ</a>
            </li>
            <li class="footer__block-item"><a class="footer__block-link footer__block-link--uppercase"
                href="#">ALMAZ-BI</a>
            </li>
            <li class="footer__block-item"><a class="footer__block-link footer__block-link--uppercase"
                href="#">Репит</a>
            </li>
            <li class="footer__block-item"><a class="footer__block-link footer__block-link--uppercase" href="#">ЦОД</a>
            </li>
            <li class="footer__block-item"><a class="footer__block-link footer__block-link--uppercase"
                href="#">Т-КОМ</a>
            </li>
            <li class="footer__block-item"><a class="footer__block-link footer__block-link--uppercase"
                href="#">АТОМ.ПОРТ</a>
            </li>
            <li class="footer__block-item"><a class="footer__block-link" href="#">Все продукты</a></li>
          </ul>
        </li>

        <li class="footer__middle-item footer__middle-item--width">
          <h3 class="footer__block-title">Мы на связи</h3>

          <ul class="footer__block-list">
            <li class="footer__block-item"><a class="footer__block-link"
                href="mailto:rcr-digital@rosatom.ru">rcr-digital@rosatom.ru</a></li>
            <li class="footer__block-item"><a class="footer__block-link" href="#">Москва, Товарищество Рябовской
                Мануфактуры, Холодильный пер., д. 3</a></li>
            <li class="footer__block-item"><a class="footer__block-link" href="tel:+74999494486">+7 (499) 949-44-86</a>
            </li>

            <ul class="footer__block-bot socials">
              <li class="socials__item">
                <a class="socials__link" href="#">
                  <img class="socials__img" src="img/socials/vk.svg" alt="ВКонтакте">
                </a>
              </li>

              <li class="socials__item">
                <a class="socials__link" href="#">
                  <img class="socials__img" src="img/socials/tg.svg" alt="Телеграм">
                </a>
              </li>

              <li class="socials__item">
                <a class="socials__link" href="#">
                  <img class="socials__img" src="img/socials/youtube.svg" alt="Youtube">
                </a>
              </li>

              <li class="socials__item">
                <a class="socials__link" href="#">
                  <img class="socials__img" src="img/socials/ten.svg" alt="Ten">
                </a>
              </li>

              <li class="socials__item">
                <a class="socials__link" href="#">
                  <img class="socials__img" src="img/socials/habr.svg" alt="Habr">
                </a>
              </li>

              <li class="socials__item">
                <a class="socials__link" href="#">
                  <img class="socials__img" src="img/socials/dzen.svg" alt="Dzen">
                </a>
              </li>

              <li class="socials__item">
                <a class="socials__link" href="#">
                  <img class="socials__img" src="img/socials/rutube.svg" alt="Rutube">
                </a>
              </li>
            </ul>
          </ul>
        </li>
      </ul>
    </div>

  </div>

  <div class="footer__bottom">
    <div class="container">
      <div class="footer__bottom-wrapper">
        <span class="footer__copy">© 2024 РосАтом</span>

        <ul class="footer__bottom-list">
          <li class="footer__bottom-item"><a class="footer__bottom-link" href="#">Связаться с редакцией</a></li>
          <li class="footer__bottom-item"><a class="footer__bottom-link" href="#">Политика обработки персональных
              данных</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>