<header class="header">
  <div class="container">
    <nav class="header__nav">
      <div class="header__nav-left">
        <a class="header__logo" href="#">
          <img src="img/logo.svg" alt="Логотип">
        </a>

        <button class="header__products-btn products-btn">
          <div class="products-btn__bento-menu bento-menu">
            <div class="bento-menu__circle r1 c1"></div>
            <div class="bento-menu__circle r1 c2"></div>
            <div class="bento-menu__circle r1 c3"></div>
            <div class="bento-menu__circle r2 c1"></div>
            <div class="bento-menu__circle r2 c2"></div>
            <div class="bento-menu__circle r2 c3"></div>
            <div class="bento-menu__circle r3 c1"></div>
            <div class="bento-menu__circle r3 c2"></div>
            <div class="bento-menu__circle r3 c3"></div>
          </div>

          <span class="products-btn__text">Продукты</span>

          <svg class="products-btn__arrow-down" width="14" height="8" viewBox="0 0 14 8" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path d="M13 1L7 7L1 1" stroke="#424F65" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </button>
      </div>

      <ul class="header__menu">
        <li class="header__item">
          <a class="header__link" href="#">Календарь</a>
        </li>
        <li class="header__item">
          <a class="header__link" href="#">Новости</a>
        </li>
        <li class="header__item">
          <a class="header__link" href="#">Карьера</a>
        </li>
        <li class="header__item">
          <a class="header__link" href="#">О нас</a>
        </li>
      </ul>

      <button class="header__hamburger-menu hamburger-menu">
        <div class="hamburger-lines">
          <span class="hamburger-lines__line line1"></span>
          <span class="hamburger-lines__line line2"></span>
        </div>
      </button>
    </nav>
  </div>
</header>