<div class="mobile-menu">
  <div class="container">

    <div class="mobile-menu__products">
      <button class="mobile-menu__products-btn">
        <div class="mobile-menu__products-btn-inner">
          <div class="mobile-menu__bento-menu bento-menu">
            <div class="bento-menu__circle r1 c1"></div>
            <div class="bento-menu__circle r1 c2"></div>
            <div class="bento-menu__circle r1 c3"></div>
            <div class="bento-menu__circle r2 c1"></div>
            <div class="bento-menu__circle r2 c2"></div>
            <div class="bento-menu__circle r2 c3"></div>
            <div class="bento-menu__circle r3 c1"></div>
            <div class="bento-menu__circle r3 c2"></div>
            <div class="bento-menu__circle r3 c3"></div>
          </div>

          <span class="mobile-menu__products-text">Продукты</span>
        </div>

        <svg class="mobile-menu__products-arrow" width="14" height="8" viewBox="0 0 14 8" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path d="M13 1L7 7L1 1" stroke="#424F65" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </button>

      <div class="mobile-menu__content">
        <div class="mobile-menu__select custom-select">
          <label class="custom-select__label">Отрасль</label>

          <select class="custom-select__select" id="mobile-menu-select" name="mobile-menu-select">
            <option class="custom-select__option" selected value="0">Банки и страховые компании</option>
            <option class="custom-select__option" value="1">Ритейл</option>
            <option class="custom-select__option" value="2">Автомобилестроение</option>
            <option class="custom-select__option" value="3">Машиностроение</option>
            <option class="custom-select__option" value="4">Телеком</option>
            <option class="custom-select__option" value="5">Металлургия</option>
            <option class="custom-select__option" value="6">ТЭК</option>
            <option class="custom-select__option" value="6">Ракетно-космическая отрасль</option>
            <option class="custom-select__option" value="7">Авиастроение</option>
            <option class="custom-select__option" value="8">ВУЗы</option>
            <option class="custom-select__option" value="9">Радиоэлектроника</option>
            <option class="custom-select__option" value="10">Судостроение</option>
            <option class="custom-select__option" value="11">Горнодобывающий комплекс</option>
          </select>
        </div>

        <ul class="mobile-menu__content-list">
          <li class="mobile-menu__item-content mobile-menu__item-content--show" id="0">
            <ul class="mobile-menu__item-content-list">
              <li class="mobile-menu__content-item">
                <a class="mobile-menu__link" href="#">
                  <h4 class="mobile-menu__name">АТОМ МАЙНД</h4>
                  <p class="mobile-menu__text">Платформа промышленной цифровизации и&nbsp;предиктивной аналитики (IoT)
                  </p>
                </a>
              </li>

              <li class="mobile-menu__content-item">
                <a class="mobile-menu__link" href="#">
                  <h4 class="mobile-menu__name">САРУС</h4>
                  <p class="mobile-menu__text">Система управления жизненным циклом изделий (PLM)</p>
                </a>
              </li>

              <li class="mobile-menu__content-item">
                <a class="mobile-menu__link" href="#">
                  <h4 class="mobile-menu__name">ПРИЗМА</h4>
                  <p class="mobile-menu__text">Система управления дискретным производством (MES)</p>
                </a>
              </li>

              <li class="mobile-menu__content-item">
                <a class="mobile-menu__link mobile-menu__link--more" href="#">
                  Все продукты
                  <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9 13.5L15 7.5M15 7.5L9 1.5M15 7.5L1 7.5" stroke="#424F65" stroke-width="2"
                      stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
                </a>
              </li>
            </ul>
          </li>

          <li class="mobile-menu__item-content" id="1">
            <ul class="mobile-menu__item-content-list">
              <li class="mobile-menu__content-item">
                <a class="mobile-menu__link" href="#">
                  <h4 class="mobile-menu__name">САРУС</h4>
                  <p class="mobile-menu__text">Система управления жизненным циклом изделий (PLM)</p>
                </a>
              </li>

              <li class="mobile-menu__content-item">
                <a class="mobile-menu__link" href="#">
                  <h4 class="mobile-menu__name">АТОМ МАЙНД</h4>
                  <p class="mobile-menu__text">Платформа промышленной цифровизации и&nbsp;предиктивной аналитики (IoT)
                  </p>
                </a>
              </li>

              <li class="mobile-menu__content-item">
                <a class="mobile-menu__link" href="#">
                  <h4 class="mobile-menu__name">ПРИЗМА</h4>
                  <p class="mobile-menu__text">Система управления дискретным производством (MES)</p>
                </a>
              </li>

              <li class="mobile-menu__content-item">
                <a class="mobile-menu__link mobile-menu__link--more" href="#">
                  Все продукты
                  <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9 13.5L15 7.5M15 7.5L9 1.5M15 7.5L1 7.5" stroke="#424F65" stroke-width="2"
                      stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
                </a>
              </li>
            </ul>
          </li>

          <li class="mobile-menu__item-content" id="2">
            <ul class="mobile-menu__item-content-list">
              <li class="mobile-menu__content-item">
                <a class="mobile-menu__link" href="#">
                  <h4 class="mobile-menu__name">САРУС</h4>
                  <p class="mobile-menu__text">Система управления жизненным циклом изделий (PLM)</p>
                </a>
              </li>

              <li class="mobile-menu__content-item">
                <a class="mobile-menu__link" href="#">
                  <h4 class="mobile-menu__name">АТОМ МАЙНД</h4>
                  <p class="mobile-menu__text">Платформа промышленной цифровизации и&nbsp;предиктивной аналитики (IoT)
                  </p>
                </a>
              </li>

              <li class="mobile-menu__content-item">
                <a class="mobile-menu__link" href="#">
                  <h4 class="mobile-menu__name">ПРИЗМА</h4>
                  <p class="mobile-menu__text">Система управления дискретным производством (MES)</p>
                </a>
              </li>

              <li class="mobile-menu__content-item">
                <a class="mobile-menu__link mobile-menu__link--more" href="#">
                  Все продукты
                  <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9 13.5L15 7.5M15 7.5L9 1.5M15 7.5L1 7.5" stroke="#424F65" stroke-width="2"
                      stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
                </a>
              </li>
            </ul>
          </li>

          <li class="mobile-menu__item-content" id="3">
            <ul class="mobile-menu__item-content-list">
              <li class="mobile-menu__content-item">
                <a class="mobile-menu__link" href="#">
                  <h4 class="mobile-menu__name">САРУС</h4>
                  <p class="mobile-menu__text">Система управления жизненным циклом изделий (PLM)</p>
                </a>
              </li>

              <li class="mobile-menu__content-item">
                <a class="mobile-menu__link" href="#">
                  <h4 class="mobile-menu__name">АТОМ МАЙНД</h4>
                  <p class="mobile-menu__text">Платформа промышленной цифровизации и&nbsp;предиктивной аналитики (IoT)
                  </p>
                </a>
              </li>

              <li class="mobile-menu__content-item">
                <a class="mobile-menu__link" href="#">
                  <h4 class="mobile-menu__name">ПРИЗМА</h4>
                  <p class="mobile-menu__text">Система управления дискретным производством (MES)</p>
                </a>
              </li>

              <li class="mobile-menu__content-item">
                <a class="mobile-menu__link mobile-menu__link--more" href="#">
                  Все продукты
                  <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9 13.5L15 7.5M15 7.5L9 1.5M15 7.5L1 7.5" stroke="#424F65" stroke-width="2"
                      stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
                </a>
              </li>
            </ul>
          </li>

          <li class="mobile-menu__item-content" id="4">
            <ul class="mobile-menu__item-content-list">
              <li class="mobile-menu__content-item">
                <a class="mobile-menu__link" href="#">
                  <h4 class="mobile-menu__name">САРУС</h4>
                  <p class="mobile-menu__text">Система управления жизненным циклом изделий (PLM)</p>
                </a>
              </li>

              <li class="mobile-menu__content-item">
                <a class="mobile-menu__link" href="#">
                  <h4 class="mobile-menu__name">АТОМ МАЙНД</h4>
                  <p class="mobile-menu__text">Платформа промышленной цифровизации и&nbsp;предиктивной аналитики (IoT)
                  </p>
                </a>
              </li>

              <li class="mobile-menu__content-item">
                <a class="mobile-menu__link" href="#">
                  <h4 class="mobile-menu__name">ПРИЗМА</h4>
                  <p class="mobile-menu__text">Система управления дискретным производством (MES)</p>
                </a>
              </li>

              <li class="mobile-menu__content-item">
                <a class="mobile-menu__link mobile-menu__link--more" href="#">
                  Все продукты
                  <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9 13.5L15 7.5M15 7.5L9 1.5M15 7.5L1 7.5" stroke="#424F65" stroke-width="2"
                      stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
                </a>
              </li>
            </ul>
          </li>

          <li class="mobile-menu__item-content" id="5">
            <ul class="mobile-menu__item-content-list">
              <li class="mobile-menu__content-item">
                <a class="mobile-menu__link" href="#">
                  <h4 class="mobile-menu__name">САРУС</h4>
                  <p class="mobile-menu__text">Система управления жизненным циклом изделий (PLM)</p>
                </a>
              </li>

              <li class="mobile-menu__content-item">
                <a class="mobile-menu__link" href="#">
                  <h4 class="mobile-menu__name">АТОМ МАЙНД</h4>
                  <p class="mobile-menu__text">Платформа промышленной цифровизации и&nbsp;предиктивной аналитики (IoT)
                  </p>
                </a>
              </li>

              <li class="mobile-menu__content-item">
                <a class="mobile-menu__link" href="#">
                  <h4 class="mobile-menu__name">ПРИЗМА</h4>
                  <p class="mobile-menu__text">Система управления дискретным производством (MES)</p>
                </a>
              </li>

              <li class="mobile-menu__content-item">
                <a class="mobile-menu__link mobile-menu__link--more" href="#">
                  Все продукты
                  <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9 13.5L15 7.5M15 7.5L9 1.5M15 7.5L1 7.5" stroke="#424F65" stroke-width="2"
                      stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
                </a>
              </li>
            </ul>
          </li>

          <li class="mobile-menu__item-content" id="6">
            <ul class="mobile-menu__item-content-list">
              <li class="mobile-menu__content-item">
                <a class="mobile-menu__link" href="#">
                  <h4 class="mobile-menu__name">САРУС</h4>
                  <p class="mobile-menu__text">Система управления жизненным циклом изделий (PLM)</p>
                </a>
              </li>

              <li class="mobile-menu__content-item">
                <a class="mobile-menu__link" href="#">
                  <h4 class="mobile-menu__name">АТОМ МАЙНД</h4>
                  <p class="mobile-menu__text">Платформа промышленной цифровизации и&nbsp;предиктивной аналитики (IoT)
                  </p>
                </a>
              </li>

              <li class="mobile-menu__content-item">
                <a class="mobile-menu__link" href="#">
                  <h4 class="mobile-menu__name">ПРИЗМА</h4>
                  <p class="mobile-menu__text">Система управления дискретным производством (MES)</p>
                </a>
              </li>

              <li class="mobile-menu__content-item">
                <a class="mobile-menu__link mobile-menu__link--more" href="#">
                  Все продукты
                  <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9 13.5L15 7.5M15 7.5L9 1.5M15 7.5L1 7.5" stroke="#424F65" stroke-width="2"
                      stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
                </a>
              </li>
            </ul>
          </li>

          <li class="mobile-menu__item-content" id="7">
            <ul class="mobile-menu__item-content-list">
              <li class="mobile-menu__content-item">
                <a class="mobile-menu__link" href="#">
                  <h4 class="mobile-menu__name">САРУС</h4>
                  <p class="mobile-menu__text">Система управления жизненным циклом изделий (PLM)</p>
                </a>
              </li>

              <li class="mobile-menu__content-item">
                <a class="mobile-menu__link" href="#">
                  <h4 class="mobile-menu__name">АТОМ МАЙНД</h4>
                  <p class="mobile-menu__text">Платформа промышленной цифровизации и&nbsp;предиктивной аналитики (IoT)
                  </p>
                </a>
              </li>

              <li class="mobile-menu__content-item">
                <a class="mobile-menu__link" href="#">
                  <h4 class="mobile-menu__name">ПРИЗМА</h4>
                  <p class="mobile-menu__text">Система управления дискретным производством (MES)</p>
                </a>
              </li>

              <li class="mobile-menu__content-item">
                <a class="mobile-menu__link mobile-menu__link--more" href="#">
                  Все продукты
                  <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9 13.5L15 7.5M15 7.5L9 1.5M15 7.5L1 7.5" stroke="#424F65" stroke-width="2"
                      stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
                </a>
              </li>
            </ul>
          </li>

          <li class="mobile-menu__item-content" id="8">
            <ul class="mobile-menu__item-content-list">
              <li class="mobile-menu__content-item">
                <a class="mobile-menu__link" href="#">
                  <h4 class="mobile-menu__name">САРУС</h4>
                  <p class="mobile-menu__text">Система управления жизненным циклом изделий (PLM)</p>
                </a>
              </li>

              <li class="mobile-menu__content-item">
                <a class="mobile-menu__link" href="#">
                  <h4 class="mobile-menu__name">АТОМ МАЙНД</h4>
                  <p class="mobile-menu__text">Платформа промышленной цифровизации и&nbsp;предиктивной аналитики (IoT)
                  </p>
                </a>
              </li>

              <li class="mobile-menu__content-item">
                <a class="mobile-menu__link" href="#">
                  <h4 class="mobile-menu__name">ПРИЗМА</h4>
                  <p class="mobile-menu__text">Система управления дискретным производством (MES)</p>
                </a>
              </li>

              <li class="mobile-menu__content-item">
                <a class="mobile-menu__link mobile-menu__link--more" href="#">
                  Все продукты
                  <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9 13.5L15 7.5M15 7.5L9 1.5M15 7.5L1 7.5" stroke="#424F65" stroke-width="2"
                      stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
                </a>
              </li>
            </ul>
          </li>

          <li class="mobile-menu__item-content" id="9">
            <ul class="mobile-menu__item-content-list">
              <li class="mobile-menu__content-item">
                <a class="mobile-menu__link" href="#">
                  <h4 class="mobile-menu__name">САРУС</h4>
                  <p class="mobile-menu__text">Система управления жизненным циклом изделий (PLM)</p>
                </a>
              </li>

              <li class="mobile-menu__content-item">
                <a class="mobile-menu__link" href="#">
                  <h4 class="mobile-menu__name">АТОМ МАЙНД</h4>
                  <p class="mobile-menu__text">Платформа промышленной цифровизации и&nbsp;предиктивной аналитики (IoT)
                  </p>
                </a>
              </li>

              <li class="mobile-menu__content-item">
                <a class="mobile-menu__link" href="#">
                  <h4 class="mobile-menu__name">ПРИЗМА</h4>
                  <p class="mobile-menu__text">Система управления дискретным производством (MES)</p>
                </a>
              </li>

              <li class="mobile-menu__content-item">
                <a class="mobile-menu__link mobile-menu__link--more" href="#">
                  Все продукты
                  <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9 13.5L15 7.5M15 7.5L9 1.5M15 7.5L1 7.5" stroke="#424F65" stroke-width="2"
                      stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
                </a>
              </li>
            </ul>
          </li>

          <li class="mobile-menu__item-content" id="10">
            <ul class="mobile-menu__item-content-list">
              <li class="mobile-menu__content-item">
                <a class="mobile-menu__link" href="#">
                  <h4 class="mobile-menu__name">САРУС</h4>
                  <p class="mobile-menu__text">Система управления жизненным циклом изделий (PLM)</p>
                </a>
              </li>

              <li class="mobile-menu__content-item">
                <a class="mobile-menu__link" href="#">
                  <h4 class="mobile-menu__name">АТОМ МАЙНД</h4>
                  <p class="mobile-menu__text">Платформа промышленной цифровизации и&nbsp;предиктивной аналитики (IoT)
                  </p>
                </a>
              </li>

              <li class="mobile-menu__content-item">
                <a class="mobile-menu__link" href="#">
                  <h4 class="mobile-menu__name">ПРИЗМА</h4>
                  <p class="mobile-menu__text">Система управления дискретным производством (MES)</p>
                </a>
              </li>

              <li class="mobile-menu__content-item">
                <a class="mobile-menu__link mobile-menu__link--more" href="#">
                  Все продукты
                  <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9 13.5L15 7.5M15 7.5L9 1.5M15 7.5L1 7.5" stroke="#424F65" stroke-width="2"
                      stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
                </a>
              </li>
            </ul>
          </li>

          <li class="mobile-menu__item-content" id="11">
            <ul class="mobile-menu__item-content-list">
              <li class="mobile-menu__content-item">
                <a class="mobile-menu__link" href="#">
                  <h4 class="mobile-menu__name">САРУС</h4>
                  <p class="mobile-menu__text">Система управления жизненным циклом изделий (PLM)</p>
                </a>
              </li>

              <li class="mobile-menu__content-item">
                <a class="mobile-menu__link" href="#">
                  <h4 class="mobile-menu__name">АТОМ МАЙНД</h4>
                  <p class="mobile-menu__text">Платформа промышленной цифровизации и&nbsp;предиктивной аналитики (IoT)
                  </p>
                </a>
              </li>

              <li class="mobile-menu__content-item">
                <a class="mobile-menu__link" href="#">
                  <h4 class="mobile-menu__name">ПРИЗМА</h4>
                  <p class="mobile-menu__text">Система управления дискретным производством (MES)</p>
                </a>
              </li>

              <li class="mobile-menu__content-item">
                <a class="mobile-menu__link mobile-menu__link--more" href="#">
                  Все продукты
                  <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9 13.5L15 7.5M15 7.5L9 1.5M15 7.5L1 7.5" stroke="#424F65" stroke-width="2"
                      stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>

    <ul class="mobile-menu__links">
      <li class="mobile-menu__links-item">
        <a class="mobile-menu__links-link" href="#">Календарь</a>
      </li>

      <li class="mobile-menu__links-item">
        <a class="mobile-menu__links-link" href="#">Новости</a>
      </li>

      <li class="mobile-menu__links-item">
        <a class="mobile-menu__links-link" href="#">Карьера</a>
      </li>

      <li class="mobile-menu__links-item">
        <a class="mobile-menu__links-link" href="#">О нас</a>
      </li>
    </ul>

  </div>
</div>