<div class="products-menu">
  <div class="container">
    <div class="products-menu__tabs tabs">
      <div class="tabs__head">
        <ul class="tabs__nav">
          <li class="tabs__nav-item tabs__nav-item--active" data-target="1">
            <button class="tabs__nav-btn">Банки и
              страховые компании</button>
          </li>
          <li class="tabs__nav-item" data-target="2">
            <button class="tabs__nav-btn">Ритейл</button>
          </li>
          <li class="tabs__nav-item" data-target="3">
            <button class="tabs__nav-btn">Автомобилестроение</button>
          </li>
          <li class="tabs__nav-item" data-target="4">
            <button class="tabs__nav-btn">Машиностроение</button>
          </li>
          <li class="tabs__nav-item" data-target="5">
            <button class="tabs__nav-btn">Телеком</button>
          </li>
          <li class="tabs__nav-item" data-target="6">
            <button class="tabs__nav-btn">Металлургия</button>
          </li>
          <li class="tabs__nav-item" data-target="7">
            <button class="tabs__nav-btn">ТЭК</button>
          </li>
          <li class="tabs__nav-item" data-target="8">
            <button class="tabs__nav-btn">Ракетно-космическая отрасль</button>
          </li>
          <li class="tabs__nav-item" data-target="9">
            <button class="tabs__nav-btn">Авиастроение</button>
          </li>
          <li class="tabs__nav-item" data-target="10">
            <button class="tabs__nav-btn">ВУЗы</button>
          </li>
          <li class="tabs__nav-item" data-target="11">
            <button class="tabs__nav-btn">Радиоэлектроника</button>
          </li>
          <li class="tabs__nav-item" data-target="12">
            <button class="tabs__nav-btn">Судостроение</button>
          </li>
          <li class="tabs__nav-item" data-target="13">
            <button class="tabs__nav-btn">Горнодобывающий комплекс</button>
          </li>
        </ul>
      </div>

      <ul class="tabs__content">
        <li class="tabs__panel tabs__panel--active" id="1">
          <ul class="tabs__panel-list">
            <li class="tabs__panel-item">
              <a class="tabs__panel-link" href="#">
                <h4 class="tabs__panel-name">АТОМ МАЙНД</h4>
                <p class="tabs__panel-text">Платформа промышленной цифровизации и предиктивной аналитики (IoT)</p>
              </a>
            </li>

            <li class="tabs__panel-item">
              <a class="tabs__panel-link" href="#">
                <h4 class="tabs__panel-name">САРУС</h4>
                <p class="tabs__panel-text">Система управления жизненным циклом изделий (PLM)</p>
              </a>
            </li>

            <li class="tabs__panel-item">
              <a class="tabs__panel-link" href="#">
                <h4 class="tabs__panel-name">ПРИЗМА</h4>
                <p class="tabs__panel-text">Система управления дискретным производством (MES)</p>
              </a>
            </li>

            <li class="tabs__panel-item">
              <a class="tabs__panel-link" href="#">
                <h4 class="tabs__panel-name">Цифровой инжиниринг</h4>
                <p class="tabs__panel-text">Цифровые двойники промышленного оборудования, модернизация предприятия</p>
              </a>
            </li>

            <li class="tabs__panel-item">
              <a class="tabs__panel-link" href="#">
                <h4 class="tabs__panel-name">ДЕДАЛ-СКАУТ</h4>
                <p class="tabs__panel-text">Система автоматизации полевого сервисного обслуживания</p>
              </a>
            </li>

            <li class="tabs__panel-item">
              <a class="tabs__panel-link" href="#">
                <h4 class="tabs__panel-name">ALMAZ-BI</h4>
                <p class="tabs__panel-text">Промышленная система анализа и визуализации данных (BI)</p>
              </a>
            </li>

            <li class="tabs__panel-item">
              <a class="tabs__panel-link" href="#">
                <h4 class="tabs__panel-name">Бизнес-аналитика</h4>
                <p class="tabs__panel-text">Информационные дашборды для мониторинга ключевых показателей (BI)</p>
              </a>
            </li>

            <li class="tabs__panel-item">
              <a class="tabs__panel-link" href="#">
                <h4 class="tabs__panel-name">Атом.РИТА</h4>
                <p class="tabs__panel-text">Low-code платформа роботизации бизнес-процессов (RPA)</p>
              </a>
            </li>

            <li class="tabs__panel-item">
              <a class="tabs__panel-link" href="#">
                <h4 class="tabs__panel-name">АТОМБОТ</h4>
                <p class="tabs__panel-text">Готовые решения для автоматизации рутинных операций (AI, RPA)</p>
              </a>
            </li>

            <li class="tabs__panel-item">
              <a class="tabs__panel-link" href="#">
                <h4 class="tabs__panel-name">ЦОД</h4>
                <p class="tabs__panel-text">Colocation, Облачные услуги (SaaS, PaaS, IaaS), Сооружение ЦОД на заказ</p>
              </a>
            </li>

            <li class="tabs__panel-item">
              <a class="tabs__panel-link" href="#">
                <h4 class="tabs__panel-name">CLOUDATE</h4>
                <p class="tabs__panel-text">Платформа управления облачными хранилищами данных</p>
              </a>
            </li>

            <li class="tabs__panel-item">
              <a class="tabs__panel-link" href="#">
                <h4 class="tabs__panel-name">Т-КОМ</h4>
                <p class="tabs__panel-text">Линейка коммутаторов для построения корпоративных сетей передачи данных</p>
              </a>
            </li>

            <li class="tabs__panel-item">
              <a class="tabs__panel-link" href="#">
                <h4 class="tabs__panel-name">Атом.ПОРТ</h4>
                <p class="tabs__panel-text">Автоматизированная миграция рабочих мест на Linux</p>
              </a>
            </li>

            <li class="tabs__panel-item">
              <a class="tabs__panel-link tabs__panel-link--more" href="#">
                Все продукты
                <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9 13.5L15 7.5M15 7.5L9 1.5M15 7.5L1 7.5" stroke="#424F65" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </a>
            </li>
          </ul>
        </li>

        <li class="tabs__panel" id="2">
          <ul class="tabs__panel-list">
            <li class="tabs__panel-item">
              <a class="tabs__panel-link" href="#">
                <h4 class="tabs__panel-name">ALMAZ-BI</h4>
                <p class="tabs__panel-text">Промышленная система анализа и визуализации данных (BI)</p>
              </a>
            </li>

            <li class="tabs__panel-item">
              <a class="tabs__panel-link tabs__panel-link--more" href="#">
                Все продукты

                <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9 13.5L15 7.5M15 7.5L9 1.5M15 7.5L1 7.5" stroke="#424F65" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </a>
            </li>
          </ul>
        </li>

        <li class="tabs__panel" id="3">
          <ul class="tabs__panel-list">
            <li class="tabs__panel-item">
              <a class="tabs__panel-link" href="#">
                <h4 class="tabs__panel-name">ALMAZ-BI</h4>
                <p class="tabs__panel-text">Промышленная система анализа и визуализации данных (BI)</p>
              </a>
            </li>

            <li class="tabs__panel-item">
              <a class="tabs__panel-link" href="#">
                <h4 class="tabs__panel-name">ALMAZ-BI</h4>
                <p class="tabs__panel-text">Промышленная система анализа и визуализации данных (BI)</p>
              </a>
            </li>

            <li class="tabs__panel-item">
              <a class="tabs__panel-link tabs__panel-link--more" href="#">
                Все продукты
                <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9 13.5L15 7.5M15 7.5L9 1.5M15 7.5L1 7.5" stroke="#424F65" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </a>
            </li>
          </ul>
        </li>

        <li class="tabs__panel" id="4">
          <ul class="tabs__panel-list">
            <li class="tabs__panel-item">
              <a class="tabs__panel-link" href="#">
                <h4 class="tabs__panel-name">ALMAZ-BI</h4>
                <p class="tabs__panel-text">Промышленная система анализа и визуализации данных (BI)</p>
              </a>
            </li>

            <li class="tabs__panel-item">
              <a class="tabs__panel-link" href="#">
                <h4 class="tabs__panel-name">ALMAZ-BI</h4>
                <p class="tabs__panel-text">Промышленная система анализа и визуализации данных (BI)</p>
              </a>
            </li>
            <li class="tabs__panel-item">
              <a class="tabs__panel-link" href="#">
                <h4 class="tabs__panel-name">ALMAZ-BI</h4>
                <p class="tabs__panel-text">Промышленная система анализа и визуализации данных (BI)</p>
              </a>
            </li>
            <li class="tabs__panel-item">
              <a class="tabs__panel-link" href="#">
                <h4 class="tabs__panel-name">ALMAZ-BI</h4>
                <p class="tabs__panel-text">Промышленная система анализа и визуализации данных (BI)</p>
              </a>
            </li>

            <li class="tabs__panel-item">
              <a class="tabs__panel-link tabs__panel-link--more" href="#">
                Все продукты
                <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9 13.5L15 7.5M15 7.5L9 1.5M15 7.5L1 7.5" stroke="#424F65" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </a>
            </li>
          </ul>
        </li>

        <li class="tabs__panel" id="5">
          <ul class="tabs__panel-list">
            <li class="tabs__panel-item">
              <a class="tabs__panel-link" href="#">
                <h4 class="tabs__panel-name">ALMAZ-BI</h4>
                <p class="tabs__panel-text">Промышленная система анализа и визуализации данных (BI)</p>
              </a>
            </li>

            <li class="tabs__panel-item">
              <a class="tabs__panel-link tabs__panel-link--more" href="#">
                Все продукты
                <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9 13.5L15 7.5M15 7.5L9 1.5M15 7.5L1 7.5" stroke="#424F65" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </a>
            </li>
          </ul>
        </li>

        <li class="tabs__panel" id="6">
          <ul class="tabs__panel-list">
            <li class="tabs__panel-item">
              <a class="tabs__panel-link" href="#">
                <h4 class="tabs__panel-name">ALMAZ-BI</h4>
                <p class="tabs__panel-text">Промышленная система анализа и визуализации данных (BI)</p>
              </a>
            </li>

            <li class="tabs__panel-item">
              <a class="tabs__panel-link tabs__panel-link--more" href="#">
                Все продукты
                <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9 13.5L15 7.5M15 7.5L9 1.5M15 7.5L1 7.5" stroke="#424F65" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </a>
            </li>
          </ul>
        </li>

        <li class="tabs__panel" id="7">
          <ul class="tabs__panel-list">
            <li class="tabs__panel-item">
              <a class="tabs__panel-link" href="#">
                <h4 class="tabs__panel-name">ALMAZ-BI</h4>
                <p class="tabs__panel-text">Промышленная система анализа и визуализации данных (BI)</p>
              </a>
            </li>

            <li class="tabs__panel-item">
              <a class="tabs__panel-link tabs__panel-link--more" href="#">
                Все продукты
                <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9 13.5L15 7.5M15 7.5L9 1.5M15 7.5L1 7.5" stroke="#424F65" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </a>
            </li>
          </ul>
        </li>

        <li class="tabs__panel" id="8">
          <ul class="tabs__panel-list">
            <li class="tabs__panel-item">
              <a class="tabs__panel-link" href="#">
                <h4 class="tabs__panel-name">ALMAZ-BI</h4>
                <p class="tabs__panel-text">Промышленная система анализа и визуализации данных (BI)</p>
              </a>
            </li>

            <li class="tabs__panel-item">
              <a class="tabs__panel-link tabs__panel-link--more" href="#">
                Все продукты
                <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9 13.5L15 7.5M15 7.5L9 1.5M15 7.5L1 7.5" stroke="#424F65" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </a>
            </li>
          </ul>
        </li>

        <li class="tabs__panel" id="9">
          <ul class="tabs__panel-list">
            <li class="tabs__panel-item">
              <a class="tabs__panel-link" href="#">
                <h4 class="tabs__panel-name">ALMAZ-BI</h4>
                <p class="tabs__panel-text">Промышленная система анализа и визуализации данных (BI)</p>
              </a>
            </li>

            <li class="tabs__panel-item">
              <a class="tabs__panel-link tabs__panel-link--more" href="#">
                Все продукты
                <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9 13.5L15 7.5M15 7.5L9 1.5M15 7.5L1 7.5" stroke="#424F65" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </a>
            </li>
          </ul>
        </li>

        <li class="tabs__panel" id="10">
          <ul class="tabs__panel-list">
            <li class="tabs__panel-item">
              <a class="tabs__panel-link" href="#">
                <h4 class="tabs__panel-name">ALMAZ-BI</h4>
                <p class="tabs__panel-text">Промышленная система анализа и визуализации данных (BI)</p>
              </a>
            </li>

            <li class="tabs__panel-item">
              <a class="tabs__panel-link tabs__panel-link--more" href="#">
                Все продукты
                <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9 13.5L15 7.5M15 7.5L9 1.5M15 7.5L1 7.5" stroke="#424F65" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </a>
            </li>
          </ul>
        </li>

        <li class="tabs__panel" id="11">
          <ul class="tabs__panel-list">
            <li class="tabs__panel-item">
              <a class="tabs__panel-link" href="#">
                <h4 class="tabs__panel-name">ALMAZ-BI</h4>
                <p class="tabs__panel-text">Промышленная система анализа и визуализации данных (BI)</p>
              </a>
            </li>

            <li class="tabs__panel-item">
              <a class="tabs__panel-link tabs__panel-link--more" href="#">
                Все продукты
                <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9 13.5L15 7.5M15 7.5L9 1.5M15 7.5L1 7.5" stroke="#424F65" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </a>
            </li>
          </ul>
        </li>

        <li class="tabs__panel" id="12">
          <ul class="tabs__panel-list">
            <li class="tabs__panel-item">
              <a class="tabs__panel-link" href="#">
                <h4 class="tabs__panel-name">ALMAZ-BI</h4>
                <p class="tabs__panel-text">Промышленная система анализа и визуализации данных (BI)</p>
              </a>
            </li>

            <li class="tabs__panel-item">
              <a class="tabs__panel-link tabs__panel-link--more" href="#">
                Все продукты
                <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9 13.5L15 7.5M15 7.5L9 1.5M15 7.5L1 7.5" stroke="#424F65" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </a>
            </li>
          </ul>
        </li>

        <li class="tabs__panel" id="13">
          <ul class="tabs__panel-list">
            <li class="tabs__panel-item">
              <a class="tabs__panel-link" href="#">
                <h4 class="tabs__panel-name">ALMAZ-BI</h4>
                <p class="tabs__panel-text">Промышленная система анализа и визуализации данных (BI)</p>
              </a>
            </li>

            <li class="tabs__panel-item">
              <a class="tabs__panel-link tabs__panel-link--more" href="#">
                Все продукты <svg width="16" height="15" viewBox="0 0 16 15" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M9 13.5L15 7.5M15 7.5L9 1.5M15 7.5L1 7.5" stroke="#424F65" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>