<section class="tasks">
  <div class="container">
    <div class="tasks__wrapper">
      <h2 class="tasks__title section-title">Какие задачи <span class="gradient-text gradient-text--first-blue">решает
          Атом.РИТА</span></h2>

      <div class="tasks__list-slider swiper">
        <ul class="tasks__list swiper-wrapper">
          <li class="tasks__item swiper-slide">
            <img class="tasks__img" src="img/tasks/1.jpg" alt="Картинка">

            <div class="tasks__text-block">
              <h5 class="tasks__item-title">Бухгалтерия
                <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M13 1L7 7L1 1" stroke="#fff" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
                </svg>
              </h5>
              <ul class="tasks__item-list">
                <li class="tasks__item-text">Ведение организационной структуры
                  и штатного расписания</li>
                <li class="tasks__item-text">Формирование графика отпусков</li>
                <li class="tasks__item-text">Формирование справок на визу, о стаже,
                  с места работы</li>
                <li class="tasks__item-text">Формирование табеля учета рабочего времени</li>
                <li class="tasks__item-text">Учет рабочего времени</li>
              </ul>
            </div>
          </li>

          <li class="tasks__item swiper-slide">
            <img class="tasks__img" src="img/tasks/2.jpg" alt="Картинка">

            <div class="tasks__text-block">
              <h5 class="tasks__item-title">HR
                <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M13 1L7 7L1 1" stroke="#fff" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
                </svg>
              </h5>
              <ul class="tasks__item-list">
                <li class="tasks__item-text">Ведение организационной структуры
                  и штатного расписания</li>
                <li class="tasks__item-text">Формирование графика отпусков</li>
                <li class="tasks__item-text">Формирование справок на визу, о стаже,
                  с места работы</li>
                <li class="tasks__item-text">Формирование табеля учета рабочего времени</li>
                <li class="tasks__item-text">Учет рабочего времени</li>
              </ul>
            </div>
          </li>

          <li class="tasks__item swiper-slide">
            <img class="tasks__img" src="img/tasks/3.jpg" alt="Картинка">

            <div class="tasks__text-block">
              <h5 class="tasks__item-title">Документооборот
                <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M13 1L7 7L1 1" stroke="#fff" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
                </svg>
              </h5>
              <ul class="tasks__item-list">
                <li class="tasks__item-text">Ведение организационной структуры
                  и штатного расписания</li>
                <li class="tasks__item-text">Формирование графика отпусков</li>
                <li class="tasks__item-text">Формирование справок на визу, о стаже,
                  с места работы</li>
                <li class="tasks__item-text">Формирование табеля учета рабочего времени</li>
                <li class="tasks__item-text">Учет рабочего времени</li>
              </ul>
            </div>
          </li>

          <li class="tasks__item swiper-slide">
            <img class="tasks__img" src="img/tasks/4.jpg" alt="Картинка">

            <div class="tasks__text-block">
              <h5 class="tasks__item-title">Финансы
                <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M13 1L7 7L1 1" stroke="#fff" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
                </svg>
              </h5>
              <ul class="tasks__item-list">
                <li class="tasks__item-text">Ведение организационной структуры
                  и штатного расписания</li>
                <li class="tasks__item-text">Формирование графика отпусков</li>
                <li class="tasks__item-text">Формирование справок на визу, о стаже,
                  с места работы</li>
                <li class="tasks__item-text">Формирование табеля учета рабочего времени</li>
                <li class="tasks__item-text">Учет рабочего времени</li>
              </ul>
            </div>
          </li>

          <li class="tasks__item swiper-slide">
            <img class="tasks__img" src="img/tasks/5.jpg" alt="Картинка">

            <div class="tasks__text-block">
              <h5 class="tasks__item-title">ИТ
                <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M13 1L7 7L1 1" stroke="#fff" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
                </svg>
              </h5>
              <ul class="tasks__item-list">
                <li class="tasks__item-text">Ведение организационной структуры
                  и штатного расписания</li>
                <li class="tasks__item-text">Формирование графика отпусков</li>
                <li class="tasks__item-text">Формирование справок на визу, о стаже,
                  с места работы</li>
                <li class="tasks__item-text">Формирование табеля учета рабочего времени</li>
                <li class="tasks__item-text">Учет рабочего времени</li>
              </ul>
            </div>
          </li>

          <li class="tasks__item swiper-slide">
            <img class="tasks__img" src="img/tasks/6.jpg" alt="Картинка">

            <div class="tasks__text-block">
              <h5 class="tasks__item-title">Закупки
                <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M13 1L7 7L1 1" stroke="#fff" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
                </svg>
              </h5>
              <ul class="tasks__item-list">
                <li class="tasks__item-text">Ведение организационной структуры
                  и штатного расписания</li>
                <li class="tasks__item-text">Формирование графика отпусков</li>
                <li class="tasks__item-text">Формирование справок на визу, о стаже,
                  с места работы</li>
                <li class="tasks__item-text">Формирование табеля учета рабочего времени</li>
                <li class="tasks__item-text">Учет рабочего времени</li>
              </ul>
            </div>
          </li>
        </ul>

        <div class="tasks__progressbar slider-progressbar"></div>
      </div>
    </div>
  </div>
</section>