.section-title {
  font-family: 'NunitoSansExtraBold';
  font-weight: 800;
  font-size: 36px;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;

  @media screen and (width <= 1024px) {
    font-size: 32px;
  }

  @media screen and (width <= 768px) {
    font-size: 28px;
  }

  @media screen and (width <= 576px) {
    font-size: 24px;
  }
}
