*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  height: 100%;
  overflow-x: hidden;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;

  &--no-scroll {
    overflow: hidden;
  }
}

.page__body {
  color: var(--gray);
  display: flex;
  flex-direction: column;
  min-width: 375px;
  min-height: 100%;
  font-size: 16px;
  margin: 0;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

li {
  list-style: none;
}

input {
  border: none;
}

main {
  flex-grow: 1;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.gradient-text {
  background: linear-gradient(90deg, #f0a600 9%, #ee6c23 29%, #6cace4 49%, #025ea1 95%);
  background-clip: border-box;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;

  &--first-blue {
    background: linear-gradient(270deg, #f0a600 9%, #ee6c23 29%, #6cace4 49%, #025ea1 95%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
