:root {
  // base
  --font-family: 'NunitoSansRegular', sans-serif;
  --content-width: 1142px;
  --container-offset: 16px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --accent: #fd6925;
  --blue: #074a95;
  --dark-blue: #1b2535;
  --light-bg: #adbde7;
  --gray: #424f65;
  --light-gray: #fdfdfd;
  --overlay-color: rgba(0, 0, 0, 0.6);
  --white: #fff;
}
